@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
    background-color: #f5f5f5;
    font-family: 'Inter';
}

.box {
    width: 500px;
    height: 600px;
}

.form-signin-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 43px;
    text-align: center;
    line-height: 99.8%;
    color: rgba(255, 0, 0, 0.56);
}

.form-control {
    width: 256px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #0606062b;
    border-radius: 8px;
    padding: 5px 17px;
}

.form-control::placeholder {
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 99.8%;
font-size: 16px;
color: #C9C9C9;
}

.form-control:hover {
    border: 1px solid #00b3ff4e;
}

.form-control:focus {
    border: 1px solid #00B2FF;
    outline: none;
}

.label{
    display: flex;
    flex-direction: column;
}

.bigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn {
    width: 60%;
    padding: 15px 2px;
    font-size: 18px;
}